{% extends 'base.html.twig' %}

{% block title %}Série #{{ category.name }}{% endblock %}

{% block body %}
    <h1 class="mt-0">{{ category.name }}</h1>
    {% for program in programs %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h2>{{ program.title }}</h2>
            <p>Catégorie : {{ program.category.name }}</p>
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
    {% endfor %}
{% endblock %}